<div class="max-w-4xl mx-auto">
  <h2 class="mb-6">Edit readme</h2>
  <%= simple_form_for @readme do |f|  %>
    <% # Step 1 %>
    <%= f.rich_text_area :project_description %>
    <%= f.input :staging_url, as: :string %>
    <%= f.input :production_url, as: :string %>
    <%= f.input :banner, as: :file %>
    <%= f.input :repository_url, as: :string %>

    <% # Step 2 %>
    <%= f.input :db_schema, as: :file %>
    <%= f.input :keys_required %>
    <%= f.input :gem_names, as: :select, input_html: { "data-controller": 'select2', "data-select2-options-value": '{ "width": "100%", "tags": false, "placeholder": "Search gem..." }', multiple: true} %>
    <%= f.input :package_names, as: :select, input_html: { "data-controller": 'select2', "data-select2-options-value": '{ "width": "100%", "tags": false, "placeholder": "Search package..." }', multiple: true} %>

    <%= f.button :submit %>
  <% end %>
</div>
