<div class="max-w-2xl mx-auto" data-controller="wizard">
  <h3 class="mb-6 text-center">Project general information</h3>

  <%= simple_form_for @readme do |f|  %>
    <div data-wizard-target="step">

      <label class="mb-2 block text-sm font-medium text-gray-600">Project Description</label>
      <%= f.rich_text_area :project_description %>

      <div class="flex mt-4">
        <div class="flex-1 mr-2">
          <%= f.input :staging_url, as: :string, placeholder: 'https://www.mywebsite.com' %>
        </div>
        <div class="flex-1 ml-2">
          <%= f.input :banner, as: :file %>
        </div>
      </div>

      <div class="flex mt-4">
        <div class="flex-1 mr-2">
          <%= f.input :production_url, as: :string, placeholder: 'https://www.mywebsite.com' %>
        </div>
        <div class="flex-1 ml-2">
          <%= f.input :repository_url, as: :string, placeholder: 'https://www.mywebsite.com' %>
        </div>
      </div>


      <%= button_tag "Next", type: "button",
        data: {
          action: "click->wizard#goToNext",
          next_step: "1"
        },
        class: "btn-primary btn-block ml-auto" %>

    </div>

    <div data-wizard-target="step" class="hidden">

      <%= f.input :commands_to_run,
        cols: 30,
        row: 10,
        input_html: { data: { wizard_target: "codefield" }}%>
      <%= f.input :db_schema, as: :file %>
      <%= f.input :keys_required %>
      <%= f.input :gem_names, as: :select, input_html: { "data-controller": 'select2', "data-select2-options-value": '{ "width": "100%", "tags": false, "placeholder": "Search gem..." }', multiple: true} %>
      <%= f.input :package_names, as: :select, input_html: { "data-controller": 'select2', "data-select2-options-value": '{ "width": "100%", "tags": false, "placeholder": "Search package..." }', multiple: true} %>

      <%= button_tag "Previous", type: "button",
        data: {
          action: "click->wizard#goToPrevious",
          previous_step: "1"
        },
        class: "my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded" %>
      <%= button_tag "Next", type: "button",
        data: {
          action: "click->wizard#goToNext",
          next_step: "2"
        },
        class: "my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded" %>
    </div>

    <div data-wizard-target="step" class="hidden">
      <h4 class="mb-6">Contribution Steps</h4>
      <%= f.rich_text_area :contribution_steps %>

      <h4 class="mb-6">Prerequisites</h4>
      <%= f.rich_text_area :prerequisites %>

      <%= button_tag "Previous", type: "button",
        data: {
          action: "click->wizard#goToPrevious",
          previous_step: "2"
        },
        class: "my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded" %>
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>
</div>