<h3>Project information</h3>
<%= @readme.project_description %>

<p><strong>Staging URL: </strong><%= link_to @readme.staging_url %></p>
<p><strong>Production URL: </strong><%= link_to @readme.production_url %></p>
<p><strong>Repository URL: </strong><%= link_to @readme.repository_url %></p>
<p><strong>Are keys required? </strong><%= link_to @readme.keys_required %></p>

<h3>External Services</h3>
<h4>Gems</h4>
<ul>
  <% @gems.each do |gem| %>
    <li>
      <strong><%= link_to gem.name, gem.website_url, target: "_blank" %></strong> - <%= gem.description %>
    </li>
  <% end %>
</ul>

<h4>Packages</h4>
<ul>
  <% @packages.each do |package| %>
    <li>
      <strong><%= link_to package.name, package.website_url, target: "_blank" %></strong> - <%= package.description %>
    </li>
  <% end %>
</ul>
