<div class="max-w-2xl mx-auto" data-controller="markdownjs">
  <%= link_to "Get Markdown", readme_export_path(@readme), method: :post %>
  <%= cl_image_tag @readme.banner.key %>
  <% if policy(@readme).edit? %>
    <%= link_to "Edit", edit_readme_path(@readme) %>
  <% end %>
  <h3>Project information</h3>
  <%= @readme.project_description %>

  <ul>
    <li>Staging URL: <%= link_to @readme.staging_url, @readme.staging_url, class: "js-on-md" %></li>
    <li>Production URL: <%= link_to @readme.production_url, @readme.production_url, class: "js-on-md" %></li>
    <li>Repository URL: <%= link_to @readme.repository_url, @readme.repository_url, class: "js-on-md" %></li>
    <li>Are keys required? <%= @readme.keys_required ? "Yes" : "No" %></li>
  </ul>
  <h3>Commands to run</h3>
  <textarea data-controller="codemirror">
    <%= @readme.commands_to_run %>
  </textarea>



  <h3>External Services</h3>
  <h4>Gems</h4>
  <ul>
    <% @gems.each do |gem| %>
      <li>
        <%= link_to gem.name, gem.website_url, class: "js-on-md", target: "_blank" %> - <%= gem.description %>
      </li>
    <% end %>
  </ul>

  <h4>Packages</h4>
  <ul>
    <% @packages.each do |package| %>
      <li>
        <%= link_to package.name, package.website_url, class: "js-on-md", target: "_blank" %> - <%= package.description %>
      </li>
    <% end %>
  </ul>

  <h3>Database Schema</h3>
  <%= cl_image_tag @readme.db_schema.key %>

  <h3>Contrigution Steps</h3>
  <%= @readme.contribution_steps %>

  <h3>Project prerequisites</h3>
  <%= @readme.prerequisites %>

</div>