<div class="max-w-2xl mx-auto">
  <%= cl_image_tag @readme.banner.key %>
  <% if policy(@readme).edit? %>
    <%= link_to "Edit", edit_readme_path(@readme) %>
  <% end %>
  <h3>Project information</h3>
  <%= @readme.project_description %>

  <p><strong>Staging URL: </strong><%= link_to @readme.staging_url %></p>
  <p><strong>Production URL: </strong><%= link_to @readme.production_url %></p>
  <p><strong>Repository URL: </strong><%= link_to @readme.repository_url %></p>
  <p><strong>Are keys required? </strong><%= @readme.keys_required ? "Yes" : "No" %></p>

  <h3>Commands to run</h3>
  <%= @readme.commands_to_run %>


  <h3>External Services</h3>
  <h4>Gems</h4>
  <ul>
    <% @gems.each do |gem| %>
      <li>
        <strong><%= link_to gem.name, gem.website_url, target: "_blank" %></strong> - <%= gem.description %>
      </li>
    <% end %>
  </ul>

  <h4>Packages</h4>
  <ul>
    <% @packages.each do |package| %>
      <li>
        <strong><%= link_to package.name, package.website_url, target: "_blank" %></strong> - <%= package.description %>
      </li>
    <% end %>
  </ul>

  <h3>Database Schema</h3>
  <%= cl_image_tag @readme.db_schema.key %>

  <h3>Contrigution Steps</h3>
  <%= @readme.contribution_steps %>

  <h3>Project prerequisites</h3>
  <%= @readme.prerequisites %>

</div>