<div class="max-w-2xl mx-auto">
  <h1>Kitchen Sink</h1>

  <%= link_to "Primary Button", "#", class: "btn-primary" %>

  <%= simple_form_for @readme do |f|  %>
    <p>Basic String input</p>
    <%= f.input :staging_url, as: :string %>

    <p>Double inputs</p>
    <div class="flex">
      <div class="flex-1 mr-2">
        <%= f.input :staging_url,as: :string %>
      </div>
      <div class="flex-1 ml-2">
        <%= f.input :staging_url,as: :string %>
      </div>
    </div>
  <% end %>
</div>
